:root {
  --primary-color: rgb(125, 188, 240);
  --secondary-color: ;
  --text-color: #000;
}

.header {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding-left: 4rem;
  height: 7.2rem;
  border-bottom: 1px solid black;
  margin-bottom: 3rem;
}

.logo-link {
  text-decoration: none;
}

.logo-icon {
  width: 4rem;
  aspect-ratio: auto;
  border-radius: 50%;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.nav-links {
  text-decoration: none;
  color: #000;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  width: 90%;
  margin: 0 auto;
  gap: 1rem;
  margin-bottom: 3rem;
}

.thumbnail {
  width: 100%;
  border-radius: 0.8rem;
  object-fit: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.likes-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.heart-container {
  border: none;
  background-color: #fff;
}

.heart {
  cursor: pointer;
  font-size: 1.5rem;
  color: red;
}

.heart:active {
  color: black;
  animation: anim 0.5s ease-in-out;
  -webkit-animation: anim 0.5s ease-in-out;
}

@keyframes anim {
  100% {
    transform: rotate(-15deg) scale(2);
    -webkit-transform: rotate(-15deg) scale(2);
    -moz-transform: rotate(-15deg) scale(2);
    -ms-transform: rotate(-15deg) scale(2);
    -o-transform: rotate(-15deg) scale(2);
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
  }
}

.btn {
  background-color: #5e5df0;
  color: #fff;
  display: block;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.8rem;
}

.btn:hover {
  background-color: #212166;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links {
  color: #000;
  text-decoration: none;
  margin: 1rem;
  font-size: 2rem;
}

.fa-linkedin-in {
  color: blue;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.meals-counter {
  position: relative;
  padding-bottom: 0.2rem;
}

.meals-counter::before {
  content: "";
  position: absolute;
  width: 5rem;
  border: 1px solid black;
  bottom: 0;
}
